
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --pink: rgb(255 105 180);
    --shadow: 0 4px 8px rgba(104, 104, 104, 0.8)
}

html{ 
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 0px;
    line-height: 1.4;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #d7d1d1;
    text-align: center;
    font-size: 25px;
    width: 100%;
    padding-top: 40px;
    position: sticky;
    top: 0px;
    left:0px;
    box-shadow: 20px 20px 50px 10px rgb(175, 134, 141) inset;
}

.nav {
    display: flex;
    overflow: hidden;
    background-color: #333;
    justify-content: center;
    flex-direction: row;
    box-shadow: var(--shadow);
}

.nav a {
    display: flex;
    color: #f2f2f2;
    letter-spacing: 5px;
    padding: 11px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
    margin-right: 60px;
}

.about-me-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 6px solid var(--shadow);
    box-shadow: var(--shadow);
    
}

.profilepic {
    height: 290px;
    width: 300px;
    margin:15px 25px 15px 25px;
    background-image: url(profilepic.png);
    background-size:contain;
    background-repeat: no-repeat;
    box-shadow: var(--shadow);
    flex-shrink: 0;

}

.aboutme {
    height: 100%;
    width: 70%;
    margin-left: 32px;
    align-items: center;
    justify-content: center;
    overflow-y:hidden;
    }

p {
    margin-top: 55px;
}

span {
    color: hotpink;
    font-size: 45px;
}

.bigbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 520px;
}

.bigbox a {
    color: var(--dark);
}

.left {
    height: 100%;
    width: 384px;
    text-align: center;
    align-items: center;
}

.work {
    align-self: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 40px;
    border-right: 6px solid var(--dark);
}

.right {
    height: 500px;
    width: 60%;
    margin-left: 130px;
}

.row1 {
    width:100%;
    height: 290px;
    margin-bottom: 20px;
    border: none;
    background-image: url(Javascript.jpg);
    background-size: cover;
}

.h2row1 {
    background-color: var(--light);
    width: 300px;
    font-size: 45px;
    text-align: center;
}

.row2 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    box-shadow: var(--shadow);
}

.box1 {
    width: 50%;
    height: 200px;
    margin-right: 20px;
    background-image: url(css.jpg);
    background-size: cover;
    box-shadow: var(--shadow);
}

.box1header {
    font-size: 34px;
    width:100px;
    text-align: center;
    background-color: var(--light);
}

.box2 {
    width: 50%;
    height: 200px;
    background-image: url(html.jpg);
    background-size: cover;
    box-shadow: var(--shadow);
}

.box2header {
    background-color: var(--light);
    font-size: 34px;
    width:100px;
    text-align: center;
}

.contactme-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    border: none;
}

.left-contactme {
    height: 90%;
    width: 378px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-right: 6px solid var(--dark);
}

.left-contactme h2 {
    margin-top: 180px;
}

.right-contactme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 1000px;
    margin-left: 190px;
    border: none;
}

.top-contactme {
    height: 50%;
    width: 100%;
    height: 50px;
    margin-bottom: -300px;
    
}

.bottom-contactme {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -115px;
    border: none;
}

#cellphone {
    
    height: 50px;
    font-size: 16px;
    text-align: center;
}

#email {
    width: 260px;
    font-size: 16px;
    text-align: center;
}

.bottom-contactme a:link {
    color: var(--dark)
}

.bottom-contactme a:hover {
    color: var(--pink);
}

#github {
    height:20px;
    font-size: 16px;
}

.nav a:hover {
    color: var(--pink);
}

a:link {
    text-decoration: none;
}

.bigbox a:link {
    color: var(--dark);
}

.bigbox a:hover {
    color: var(--pink);
}

/* phone icon */
.fa-solid {
    padding-left: 20px;
}

/* email icon */
.fa-regular {
     margin-left: 406px;
}

/* github icon */
.fa-brands {
    margin-left: 400px;
}




/* ----------media queries--------- */
/* @media  screen and (max-width: 814px) {
    .about-me-container {
        display:flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 50%;
    }
         

    .aboutme {
        width:50%;
    }
    
}
@media  screen and (max-width: 1000px) {
    .about-me-container {
        display:flex;
        flex-direction: row;
        width: 50%;

      
}
@media  screen and (min-width: 814px) {
    *{
        flex-shrink: 0;
    } */

    












 @media screen and (max-width: 575px) {
    .about-me-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
@media screen and (min-width: 751px) {
    .paragraph {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
    }
}

@media screen and (max-width:575px){
.paragraph  {flex-direction: column;
    display: flex;
        flex-direction: column;
        align-items: center;
}
} 
